.Rproj.user
.Rhistory
.RData
.Ruserdata
*.dta
*~
*.smcl
*/working_data/*
*/source_data/*
!*findme.txt
!*placeholder.txt
*.zip
BLAST.Rproj
cod_and_haddock_GARFO_fy2017/code/postsim/scenario key.xlsx
*/output/*
/cod_haddock_fy2020/*
*.xlsx
*.odt
*.stpr
*.png
*.docx
*.html
*/images/*
